<main>
  <section class="login-section">
    <div class="container">
      <div class="title-container">
        <h1 class="title">Inicio de sesión</h1>
      </div>

      <div>
        <form action="/api/sessions/login" method="post" class="form">
          <div class="form-field">
            <label for="email" class="form-field_label">Correo electrónico:</label>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Ingresa tu correo electrónico"
              required
              class="form-field_input"
            />
          </div>

          <div class="form-field">
            <label for="password" class="form-field_label">Contraseña:</label>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Ingresa tu contraseña"
              required
              class="form-field_input"
            />
          </div>

          <div class="text-container">
            <p>¿No estás registrado? Registrate haciendo
              <a href="/register">click aquí</a>.</p>
          </div>

          <div class="btn-container">
            <button type="submit" class="submit-btn">Ingresar</button>
          </div>
        </form>
        <div class="github-btn-container">
          <a href="/api/sessions/github">
            <button class="submit-btn github-btn">Ingresar con
                <img src="/assets/github-mark-white.png" />
            </button>
          </a>
        </div>
      </div>

    </div>
  </section>
</main>